@import url("https://fonts.cdnfonts.com/css/the-christmas");
font-family: "Cosmopolitan", sans-serif;
* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background-color: #ffffff;
  /* margin-right: 6rem; */
  width: 14.5rem;
  margin-top: 3.2rem;
}

.dashboard-container {
  /* background-color: #ffffff; */
  border-right: 1px solid lightgray;
  height: 39rem;
  max-width: 15.3rem;
  /* position: fixed; */
}

.home a {
  font-weight: 700;
}
.dashboard a {
  text-decoration: none;
}
.dashboard-icons img {
  width: 1.7rem;
  margin-left: 1.2rem;
}

.profile img {
  border-radius: 50%;
}
.dashboard-text a {
  /* background-color: white; */

  margin-left: 11px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-family: "Cosmopolitan Script", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.item-home {
  display: flex;
  align-items: center;
  /* margin-top: 3rem; */
}
.dashboard-logo {
  margin-top: 2.5rem;
  margin-right: 4.5rem;
}
.dashboard-logo a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-family: "The Christmas", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 18px;
  letter-spacing: 1.5px;
}
.dashboard-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.item-home:hover {
  background-color: #f2f2f2;
  /* position: relative; */
  border-radius: 5px;
}

/* History part */
.body-continer {
  display: flex;
  justify-content: flex-start;
}
.dashboard-container {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}
.feed-side {
  background-color: gray;
  width: 69.7rem;
  height: 80rem;
  margin-left: 14.6rem;
}
.feed {
  background-color: green;
  width: 45.6rem;
  height: 100rem;
}
.feed-history {
  background-color: #ffffff;
  width: 45.6rem;
  height: 8.5rem;
}
.feed-history {
  display: flex;
  justify-content: start;
  align-items: center;
}
/* history  */
.nasser {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: 2rem;
}
.nasser-img {
  width: 65px;
  height: 65px;
  margin: 5px;
  border-radius: 50%;
  margin-left: 6px;
  background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
}
.nasser-img img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 2px;
}
.nasser-text a {
  text-decoration: none;
  margin-left: 10px;
}
.feed-history .left {
  margin-left: 2.5rem;
}
.nasser-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
/* feed contents  */
.feeds-contents {
  width: 35rem;
  height: 100rem;
  background-color: lightblue;
  margin-left: 7.9rem;
}
.feeds-contents {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.feed__profile {
  background-color: white;
  width: 35rem;
  height: 3.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.profile__image img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.profile__name a {
  text-align: center;
  text-decoration: none;
  margin-left: 0.5rem;
  color: #262626;
  line-height: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.profile__icon img {
  width: 1rem;
  align-items: center;
  margin-left: 5px;
  margin-top: 4px;
}
.profile__date {
  color: #737373;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-left: 5px;
}
.profile__more img {
  width: 14px;
}

.feed__content__upload img {
  width: 35rem;
}
/* .feed__content__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  height: 50rem;
  background-color: yellow;
} */
/* like and share part */
.content__like_share {
  background-color: gray;
  width: 35rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.like__share__comments {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.like__share__comments img {
  width: 1.8rem;
  height: 1.7rem;
  margin-top: 1rem;
  margin: 3px;
  padding: 3px;
}
.share-icon img {
  width: 1.5rem;
  height: 1.4rem;
}
.comment-icon img {
  width: 2rem;
  height: 2rem;
}
.like-icon img {
  width: 2rem;
  height: 2rem;
}
.save__post img {
  width: 1.6rem;
  height: 1.3rem;
}
.content__countlike a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-top: 1rem;

  text-decoration: none;
}
.content__countlike {
  background-color: peachpuff;
  margin-bottom: 1rem;
}

.content__descripton__post {
  /* background-color: red; */
}
.content__descripton__post a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.describe-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.view__comment {
  background-color: aqua;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.content__addcomment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.addcomment__icon__right img {
  width: 1rem;
}
.endpost__line {
  width: 35rem;
  border: 1px solid gray;
  margin-top: 1rem;
}
