@import url("https://fonts.cdnfonts.com/css/the-christmas");
font-family: "Cosmopolitan", sans-serif;
* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  background-color: #ffffff;
  /* margin-right: 6rem; */
  width: 14.5rem;
  margin-top: 3.2rem;
}

.dashboard-container {
  /* background-color: #ffffff; */
  border-right: 1px solid lightgray;
  height: 39rem;
  max-width: 15.3rem;
  /* position: fixed; */
}

.home a {
  font-weight: 700;
}
.dashboard a {
  text-decoration: none;
}
.dashboard-icons img {
  width: 1.7rem;
  margin-left: 1.2rem;
}

.profile img {
  border-radius: 50%;
}
.dashboard-text a {
  /* background-color: white; */

  margin-left: 11px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-family: "Cosmopolitan Script", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.item-home {
  display: flex;
  align-items: center;
  /* margin-top: 3rem; */
}
.dashboard-logo {
  margin-top: 2.5rem;
  margin-right: 4.5rem;
}
.dashboard-logo a {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-family: "The Christmas", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 18px;
  letter-spacing: 1.5px;
}
.dashboard-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.item-home:hover {
  background-color: #f2f2f2;
  /* position: relative; */
  border-radius: 5px;
}

/* History part */
.body-continer {
  display: flex;
  justify-content: flex-start;
}
.dashboard-container {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}
.feed-side {
  background-color: #ffffff;
  width: 69.7rem;
  height: 80rem;
  margin-left: 14.6rem;
  display: flex;

  flex-direction: row;
}
.feed {
  background-color: #ffffff;
  width: 45.6rem;
  height: 100rem;
}
.feed-history {
  background-color: #ffffff;
  width: 45.6rem;
  height: 8.5rem;
}
.feed-history {
  display: flex;
  justify-content: start;
  align-items: center;
}
/* history  */
.nasser {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: 2rem;
}
.nasser-img {
  width: 65px;
  height: 65px;
  margin: 5px;
  border-radius: 50%;
  margin-left: 6px;
  background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
}
.nasser-img img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 2px;
}
.nasser-text a {
  text-decoration: none;
  margin-left: 10px;
}
.feed-history .left {
  margin-left: 2.5rem;
}
.nasser-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
/* feed contents  */
.feeds-contents {
  width: 35rem;
  height: 90rem;
  background-color: #ffffff;
  margin-left: 7.9rem;
}
.feeds-contents {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.feed__profile {
  background-color: #ffffff;
  width: 35rem;
  height: 3.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.profile__image img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.profile__name a {
  text-align: center;
  text-decoration: none;
  margin-left: 0.5rem;
  color: #262626;
  line-height: 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.profile__icon img {
  width: 1rem;
  align-items: center;
  margin-left: 5px;
  margin-top: 4px;
}
.profile__date {
  color: #737373;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-left: 5px;
}
.profile__more img {
  width: 14px;
}

.feed__content__upload img {
  width: 35rem;

}
/* .feed__content__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  height: 50rem;
  background-color: yellow;
} */
/* like and share part */
.content__like_share {
  background-color: #ffffff;
  width: 35rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.like__share__comments {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.like__share__comments img {
  width: 1.8rem;
  height: 1.7rem;
  margin-top: 1rem;
  margin: 3px;
  padding: 3px;
}
.share-icon img {
  width: 1.5rem;
  height: 1.4rem;
}
.comment-icon img {
  width: 2rem;
  height: 2rem;
}
.like-icon img {
  width: 2rem;
  height: 2rem;
  margin-left: -5px;
}
.save__post img {
  width: 1.6rem;
  height: 1.3rem;
}
.content__countlike a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin-top: 1rem;

  text-decoration: none;
}
.content__countlike {
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.content__descripton__post a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.describe-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.view__comment {
  background-color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.content__view__comments a {
  text-decoration: none;
}

.content__addcomment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add__comment {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.addcomment__icon__right img {
  width: 1rem;
}
.endpost__line {
  width: 35rem;
  border: 1px solid lightblue;
  margin-top: 1rem;
}
/* right side part  */
.side {
  width: 22rem;
  height: 29rem;
  background-color: #ffffff;
  margin-top: 2.5rem;
}
.side__suggestion__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  margin-top: 10px;
}
.side__left {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.side__left__profile img {
  width: 57px;
  height: 57px;
  border-radius: 50%;
}
.side__left__username__user a {
  text-decoration: none;
  margin-left: 15px;
}
.profile__user a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.profile__username a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #737373;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.side__right a {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #0095f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  text-decoration: none;
}
/* new div for suggestion  */
.div__suggested__foryou {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-top: 1rem;
}
.see__all a {
  text-decoration: none;
}
.text__suggest {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #737373;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.seeall__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
/* part suggestion 2 */
.side__left__profile__1 img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* these part is only for display or no becz of responsive part */
.logo-dashboard-responsive img {
  width: 1.6rem;
  display: none;
}
.dashboard-container__responsive {
  display: none;
}
.dashboard_container_responsivefooter {
  display: none;
}
.dashboard_icons_mobile{
  display: none;
}

/* responsive parts */
/* first responsive side part  */
@media (max-width: 1335px) {
  .side {
    background-color: #ffffff;
    width: 19rem;
    height: 29rem;

    margin-top: 2.5rem;
  }
}
@media (max-width: 1285px) {
  .side {
    /* background-color: green; */
    width: 16rem;
    height: 29rem;

    margin-top: 2.5rem;
  }
}
/* responsive dashboard side which located in right side of boday */
@media (max-width: 1252px) {
  .dashboard-logo {
    /* background-color: red; */
    display: none;
  }
  .logo-dashboard-responsive img {
    display: flex;
    margin-top: 2.5rem;
    /* background-color: green; */
    /* margin-left: 1rem; */
  }
  .dashboard-text {
    display: none;
  }
  .dashboard-container {
    /* background-color: red; */
    border-right: 1px solid lightgray;
    height: 39rem;
    width: 4.5rem;
  }
  .dashboard {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard img {
    margin-right: 1rem;
  }
  .feed-side {
    /* background-color: red; */

    width: 69.7rem;
    height: 80rem;
    /* margin-left: 14.6rem; */
    display: flex;
    margin-left: 6rem;
  }
  .side {
    /* background-color: green; */
    width: 23rem;
    height: 29rem;

    margin-top: 2.5rem;
  }
}
@media (max-width: 1212px) {
  .feed-side {
    /* background-color: yellow; */

    width: 69.7rem;
    height: 80rem;
    /* margin-left: 14.6rem; */
    display: flex;
    margin-left: 5rem;
  }
  .side {
    /* background-color: green; */
    width: 20rem;
    height: 29rem;

    margin-top: 2.5rem;
  }
}
@media (max-width: 1149px) {
  .feed-side {
    /* background-color: blue; */

    /* width: 69.7rem;
    height: 80rem;
    /* margin-left: 14.6rem; */
    display: flex;
    margin-left: 16rem;
  }
  .side {
    /* background-color: green; */
    display: none;
    /* width: 20rem;
    height: 29rem;

    margin-top: 2.5rem; */
  }
  .feeds-contents {
    width: 30rem;
    height: 90rem;
    /* background-color: yellow; */
    margin-left: 7.9rem;
  }
  .feed__profile {
    width: 30rem;
  }
  .feed__content__upload img {
    width: 30rem;
  }
  .feed__content__info {
    width: 30rem;
  }
  .content__like_share {
    width: 30rem;
  }
}
@media (max-width: 1004px) {
  .feed-side {
    /* background-color: purple; */

    display: flex;
    margin-left: 10rem;
  }
}
@media (max-width: 914px) {
  .feed-side {
    /* background-color: black; */

    /* width: 69.7rem;
    height: 80rem;
    /* margin-left: 14.6rem; */
    display: flex;
    margin-left: 7rem;
  }
}
@media (max-width: 860px) {
  .feed-side {
    */

    display: flex;
    margin-left: 5rem;
  }
}
@media (max-width: 828px) {
  .feed-side {
    /* background-color: rgb(71, 24, 201); */

    display: flex;
    margin-left: 1.5rem;
  }
  .feed-history {
    /* background-color: red; */
    width: 42.5rem;
    height: 8.5rem;
    margin-left: 3rem;
  }
}
/* this is part the end of responsive part  */
@media (max-width: 775px) {
  .feed-history {
    /* background-color: blue; */
    margin-left: 1rem;
  }
  .dashboard-container {
    display: none;
  }
  .dashboard-container__responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 46.8rem;
    background-color: #FFFFFF;
    z-index: 1;
    position: fixed;
    margin-left: 2px;
  }
  .feed-side {
    margin-top: 4.1rem;
  }
  .dashboard_container_responsivefooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 45rem;
    background-color: #FFFFFF;
    z-index: 1;
    position: fixed;
    margin-left: 2px;
    margin-top: 35rem;
  }
  .dashboard_container_responsivefooter img {
    margin-left: 5rem;
  }
  .header_responsive_logo img {
    width: 6rem;
    margin-left: 1rem;
  }
  .header_responsive_searchLike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.6rem;
  }
  .header_responsive_like img {
    width: 1.8rem;
  }
  .icon_sreach img {
    width: 2rem;
  }
  .header_responsive_searchIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    margin-right: 1rem;
    border-radius: 5px;
    padding: 0px 5px;
  }
  .search_input input {
    outline: none;
    background-color: #EFEFEF;
    border: none;
    margin-bottom: 5px;
    padding: 7px 15px;
  }
  .header_responsive_searchIcon{
    background-color: #EFEFEF;
  }
}
@media (max-width: 772px) {
  .dashboard-container__responsive {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 32rem;

    z-index: 1;
    position: fixed;
    margin-left: 2px;
  }
  .feed-history {
    /* background-color: blue; */

    width: 32.7rem;
  }

  .feed {
    /* background-color: black; */
    margin-left: -1rem;
    width: 32.8rem;
  }

  .nasser-img img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 2px;
  }
  .nasser-img {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    margin-left: 6px;
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
  }
  .feed-history {
    margin-left: 1px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .feeds-contents {
    margin-left: 2rem;
  }
  .dashboard_container_responsivefooter {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2.5rem;
    width: 33rem;
    /* background-color: #43230B; */
    z-index: 1;
    position: fixed;
    /* margin-left: 2px; */
    margin-top: 35rem;
  }
  .dashboard_container_responsivefooter img {
    margin: 1.8rem;
  }
  .dashboard-container__responsive {
    margin-left: 1rem;
  }
  .endpost__line {
    width: 29.8rem;
  }

}
/* final responsive part */


@media (max-width: 500px) {
  .dashboard-container__responsive {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 31.1rem;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid gray;
    margin-left: 1px;
  
  }
 
.header_responsive_logo img{
  width: 7rem;
  height: 1.7rem;
  margin-left: 0px;
}
.icon_sreach img{
 width: 1.5rem;
}

  .feed-history {
    /* background-color: blue; */
    width: 29.5rem;
    height: 7rem;
    margin-top: -8px;
    
  }
 .ferrai{
  display: none;
 }
 

  .feed {
    /* background-color: black; */
    margin-left: -1rem;
    width: 29.7rem;
    
  }

  .nasser-img img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #fff;
     margin: 2px;
  }
  .nasser-img {
    width: 53px;
    height: 53px;
    margin: 5px;
    border-radius: 50%;
    margin-left: 7px;
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
  }
  .feed-history {
    margin-left: 1px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .feeds-contents {
    /* background-color: red; */
    width: 29.5rem;
  }
  .dashboard_container_responsivefooter {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2.5rem;
    width: 28.9rem;
    /* background-color: green; */
    z-index: 1;
    position: fixed;
    /* margin-left: 2px; */
    margin-top: 35rem;
  }
  .dashboard_container_responsivefooter img {
    margin: 1.5rem;
  }
 
  .endpost__line {
    
    width: 27rem;
    border: 1px solid lightblue;
    margin-top: 1rem;
   
    
  }
  .feeds-contents{
   margin-left: 1px;

  }
  .feed__profile{
    width: 27rem;
  }
  .feed__content__upload img{
    width: 27rem;
    
  }
.feed__content__info{
  width: 27rem;
}
.content__like_share{
  width: 27rem;
}
.addcomment__icon__right img{
  margin-right: 5px;
}
}

/* responsive for mobile especial */
/* @media (max-width: 500px) {
  .dashboard-container__responsive {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 31.1rem;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid gray;
    margin-left: 1px;
  
  }
 
.header_responsive_logo img{
  width: 7rem;
  height: 1.7rem;
  margin-left: 0px;
}
.icon_sreach img{
 width: 1.5rem;
}

  .feed-history {
    background-color: blue;
    width: 29.5rem;
    height: 7rem;
    margin-top: -8px;
    
  }
 .ferrai{
  display: none;
 }
 

  .feed {
    background-color: black;
    margin-left: -1rem;
    width: 29.7rem;
    
  }

  .nasser-img img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #fff;
     margin: 2px;
  }
  .nasser-img {
    width: 53px;
    height: 53px;
    margin: 5px;
    border-radius: 50%;
    margin-left: 7px;
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
  }
  .feed-history {
    margin-left: 1px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .feeds-contents {
    background-color: red;
    width: 29.5rem;
  }
  .dashboard_container_responsivefooter {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2.5rem;
    width: 28.5rem;
    background-color: green;
    z-index: 1;
    position: fixed;
    /* margin-left: 2px; */
    margin-top: 35rem;
  }
  .dashboard_container_responsivefooter img {
    margin: 1.5rem;
  }
 
  .endpost__line {
    
    width: 27rem;
    border: 1px solid lightblue;
    margin-top: 1rem;
   
    
  }
  .feeds-contents{
   margin-left: 1px;

  }
  .feed__profile{
    width: 27rem;
  }
  .feed__content__upload img{
    width: 27rem;
    
  }
.feed__content__info{
  width: 27rem;
}
.content__like_share{
  width: 27rem;
}
.addcomment__icon__right img{
  margin-right: 5px;
}





/* responsive only for mobile especial */







@media (max-width: 450px) {
  .dashboard-container__responsive {
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 25rem;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid gray;
    margin-left: 1px;
  
  }
  .header_responsive_searchIcon{
    display: none;
    
  }
 .elon{
  display: none;
 }
 .messi{
  display: none;
 }
.header_responsive_logo img{
  width: 7rem;
  height: 1.7rem;
  margin-left: 1rem;
}
.icon_sreach img{
 width: 1.5rem;
}

  .feed-history {
    background-color: blue;
    width: 23rem;
    height: 7rem;
    /* margin-top: -8px; */ 
  }
  .header_responsive_like{
    margin-right: 1.2rem;
  }
 .ferrai{
  display: none;
 }
  .feed {
    /* background-color: black; */
    margin-right: -1rem;
    width: 29.7rem;
    
  }

  .nasser-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
     margin: 2px;
  }
  .nasser-img {
    width: 57px;
    height: 57px;
    margin: 5px;
    border-radius: 50%;
    margin-left: 7px;
    background: linear-gradient(rgb(231, 0, 231), rgb(255, 115, 0));
  }
  .feed-history {
    margin-left: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  .body-continer{
    overflow-x: hidden;
  }
  .feeds-contents {
    /* background-color: red; */
    width: 26rem;
    
 
  }
  .dashboard_container_responsivefooter {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 2.5rem;
    width: 28.5rem;
    /* background-color: green; */
    z-index: 1;
    position: fixed;
     margin-left: 2px; 
     margin-top: 45rem;
     border: 1px solid lightgray;
    border-radius: 10px;
  }
  .dashboard_container_responsivefooter img {
    margin: 1.5rem;
  }
 
  .endpost__line {
    
    width: 27rem;
    border: 1px solid lightblue;
    margin-top: 1rem;
   
    
  }
  .feeds-contents{
   /* margin-left: 1px; */

  }
  .feed__profile{
    width: 23rem;
    margin-right: 2.6rem;
  }
  .feed__content__upload img{
    width: 24rem;
    margin-right: 2.5rem;
    
  }
.feed__content__info{
  width: 26rem;
}
.content__like_share{
  width: 26rem;
}
.addcomment__icon__right img{
  margin-right: 3rem;
}
.dashboard_icons_mobile {
  display: flex;
  /* background-color: red; */
  width: 2rem;
  margin-right: 8px;
   

}
.dashboard_icons_mobile img{
  width:  1.5rem;
  
}
.feed-history{
  /* background-color: blue; */
  height: 6rem;
  margin-top: -1rem;
  /* margin-left: -0.5rem; */
}
.feed-history .nasser{
  margin-top: -5px;
}
.feeds-contents{
  /* background-color: tan; */
  
  
}
.feed__profile{
  margin-top: 0px;
}
.content__descripton__post{
  /* background-color: red; */
  width: 23rem;
}
.nasser-text a{
  color: black;
}
 
}  